@model IEnumerable<Data.Models.PostFilterViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input id="query" name="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                <span>
                    @Html.ActionLink(item.Title, "Details", "Posts")

                    (@Html.DisplayFor(modelItem => item.Locale))
                </span>

            </td>
        </tr>
    }
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @{
            var prevListStyle = ViewBag.CurrentPage > 1 ? "page-item" : "page-item disabled";
            var nextListStyle = ViewBag.CurrentPage == ViewBag.PageCount ? "page-item disabled" : "page-item";
        }

        <li class="@prevListStyle">
            @Html.ActionLink("Previous",
                "Index",
                new {pAction = "prev"},
                new {@class = "page-link"})
        </li>

        @for (int i = 1; i < ViewBag.PageCount + 1; i++)
        {
            var listStyle = ViewBag.CurrentPage == i ? "page-item active" : "page-item";

            <li class="@listStyle">
                @Html.ActionLink(i.ToString(),
                    "Index",
                    new {pNo = i.ToString()},
                    new {@class = "page-link"})
            </li>
        }

        <li class="@nextListStyle">
            @Html.ActionLink("Next",
                "Index",
                new {pAction = "next"},
                new {@class = "page-link"})
        </li>
    </ul>
</nav>
