@model Data.Models.HomePageViewModel

@using Data.Models.Data

@{
    ViewBag.Title = "CraigsList";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 border border-info" style="background-color: gainsboro;">
            <h3>
                Contact
            </h3>
            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>

            <hr />
            <h3>About</h3>
            <p>
                Craigslist is an American classified advertisements website with sections devoted to jobs, housing, services etc.
            </p>

        </div>

        <div class="col-sm-8">
            <div class="row">
                <div class="container col-sm-10 border border-info" style="background-color: gainsboro; padding-left:2%; padding-right:2%;">
                    <div class="col-sm-3">
                        <h3 class="text-primary" style="font-style: initial">
                            @Html.ActionLink(Model.CurrentLocation, "SetCookies", new { cookieName = "location", value = Model.CurrentLocation + "|" })
                        </h3>
                    </div>
                    <div class="col-sm-9" style="padding-top:3%;">
                        <div>
                            @foreach (Location loc in Model.AllLocations[Model.CurrentLocation])
                            {
                                <div style="display:inline-block;">
                                    <a href="@Url.Action("SetCookies",new {cookieName = "location" , value = Model.CurrentLocation+"|"+loc.Locale})" class="badge bg-light text-primary border border-primary" style="height: 100%;">
                                        @loc.Locale
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left: 20px; margin-right: 20px;">
                @foreach (KeyValuePair<string, List<PostType>> keyValuePair in Model.AllCategories)
                {
                    <div class="col-sm-4">
                        <div class="card border-info mb-3" style="max-width: 18rem; margin: 10px; height: 200px; background-color: lightgray;">
                            <div class="card-header text-center" style="background-color: gainsboro; font-size: 20px;">
                                @Html.ActionLink(keyValuePair.Key, "SetCookies", new { cookieName = "post_type", value = keyValuePair.Key + "|" })
                            </div>
                            <div class="pre-scrollable" style="overflow-y: auto; margin-bottom: 0px;">
                                <div class="card-body" style="padding-left:0px; padding-right:0px; padding-top:0px;">
                                    <ul class="list-group list-group-flush" style="margin-bottom: 0px;">
                                        @foreach (PostType subcategory in keyValuePair.Value)
                                        {
                                            <li class="list-group-item list-group-item-secondary text-center">
                                                @Html.ActionLink(subcategory.SubCategory, "SetCookies", new { cookieName = "post_type", value = keyValuePair.Key + "|" + subcategory.SubCategory })
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-sm-2 border border-info" style="background-color: gainsboro; padding:10px">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h6>
                            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="text-align:center; height: 20px; padding-top: 1%;">
                                All Locations
                            </button>
                        </h6>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div style="display:block;">

                                @foreach (KeyValuePair<string, List<Location>> keyValuePair in Model.AllLocations)
                                {
                                    <div class="container">
                                        <a href="@Url.Action("ChangeLocation", new { newLocationName = keyValuePair.Key })" class="badge bg-light text-info border border-info" style="height: 100%; margin: 3px;">
                                            @keyValuePair.Key
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>