 @model IEnumerable<Data.Models.Data.Message>

@{
    ViewBag.Title = "Inbox";
}

<h2>Inbox</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
    </tr>
}

</table>
